In [161]:
import pandas as pd

In [166]:
df = pd.read_csv(r'C:\Users\anilk\OneDrive\Desktop\Python_Day1\PRACTICE\drug200.csv')
df

     Age Sex      BP Cholesterol  Na_to_K Drug
0     23   F    HIGH        HIGH   25.355    Y
1     47   M     LOW        HIGH   13.093    C
2     47   M     LOW        HIGH   10.114    C
3     28   F  NORMAL        HIGH    7.798    X
4     61   F     LOW        HIGH   18.043    Y
..   ...  ..     ...         ...      ...  ...
195   56   F     LOW        HIGH   11.567    C
196   16   M     LOW        HIGH   12.006    C
197   52   M  NORMAL        HIGH    9.894    X
198   23   M  NORMAL      NORMAL   14.020    X
199   40   F     LOW      NORMAL   11.349    X

[200 rows x 6 columns]

In [167]:
df.isnull().sum() #no null values

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [168]:
df.Sex.unique()

array(['F', 'M'], dtype=object)


EDA

In [169]:
#Na_to_K means sodium to potassium ratio in blood



from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le = LabelEncoder()
ohe = OneHotEncoder(sparse=False) #Sparse is set to False because it will give us sparse matrix, we want dense matrix
df['Cholesterol'] = le.fit_transform(df['Cholesterol']) #The Cholesterol is ordinal so used labelencoder
df['BP'] = le.fit_transform(df['BP']) #BP is ordinal so used labelencoder
ohe.fit(x[['Sex']])
encoded = ohe.transform(x[['Sex']]) #Sex is nominal, no inherent order, so used OneHotEncoder
df2 = pd.DataFrame(encoded, columns = ['Female', 'Male'])
encodedDF = df.join(df2)

KeyError: "None of [Index(['Sex'], dtype='object')] are in the [columns]"

In [170]:
x = encodedDF[['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Female', 'Male']]
y = encodedDF['Drug']

In [171]:
x['Na_to_K'] = x['Na_to_K'].astype('int')
x['Female'] = x['Female'].astype('int')
x['Male'] = x['Male'].astype('int')
x.drop(columns=['Sex'], inplace = True)

C:\Users\anilk\AppData\Local\Temp\ipykernel_32708\572027112.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Na_to_K'] = x['Na_to_K'].astype('int')
C:\Users\anilk\AppData\Local\Temp\ipykernel_32708\572027112.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Female'] = x['Female'].astype('int')
C:\Users\anilk\AppData\Local\Temp\ipykernel_32708\572027112.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Male'] = x['Male'].astype('int')
C:\Users\anilk\AppData\Local\Temp\ipykernel_32708\572027112.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.drop(columns=['Sex'], inplace = True)

Model Building

In [172]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 42)
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(x_train, y_train)
y_predtest = dtc.predict(x_test)
y_predtrain = dtc.predict(x_train)

In [173]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report, roc_auc_score, roc_curve,auc
print(classification_report(y_test, y_predtest))
print(accuracy_score(y_test,y_predtest))
print(confusion_matrix(y_test,y_predtest))

              precision    recall  f1-score   support

           A       1.00      1.00      1.00         6
           B       1.00      1.00      1.00         3
           C       1.00      1.00      1.00         5
           X       1.00      1.00      1.00        11
           Y       1.00      1.00      1.00        15

    accuracy                           1.00        40
   macro avg       1.00      1.00      1.00        40
weighted avg       1.00      1.00      1.00        40

1.0
[[ 6  0  0  0  0]
 [ 0  3  0  0  0]
 [ 0  0  5  0  0]
 [ 0  0  0 11  0]
 [ 0  0  0  0 15]]

In [174]:
y_test

95     X
15     Y
30     X
158    C
128    Y
115    Y
69     Y
170    X
174    A
45     X
66     A
182    X
165    Y
78     A
186    B
177    Y
56     B
152    X
82     C
68     Y
124    B
16     X
148    X
93     Y
65     Y
60     Y
84     C
67     X
125    Y
132    X
9      Y
18     C
55     C
75     Y
150    A
104    Y
135    X
137    A
164    Y
76     A
Name: Drug, dtype: object